/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Header Styles */
.navigation {
    position: sticky;
    top: 0;
    z-index: 50;
    padding: 15px;
    width: 100%;
    display: flex;
    background-color: aliceblue;
    justify-content: center;
}


svg {
    height: 60px;
    width: 60px;
    position: relative;
    left: 80%;
    bottom: 20%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-title {
    text-transform: uppercase;
    color: rgb(7, 7, 63);
    font-size: 1.35rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
    list-style: none;
    display: flex;

}

nav ul li {
    padding: 0 15px;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color: rgb(7, 7, 63);
    transition: 0.2s;
    font-size: 1rem;

    &:hover {
        color: red;
    }

}

button {
    display: none;
}

a,
button {
    cursor: pointer;
}


/* Section Styles */

section h2 {
    font-size: 5rem;
}

/* Content Section Styles */
.content {
    background-image: url(../benja/Untitled\ Project1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

/* Introduction Section Styles */
.bgd {
    background-image: url(../img/Un9.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.img1 {
    width: clamp(200px, 400px, 450px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 2rem;
    object-fit: contain;
}

.intro {
    padding-top: 2rem;
    width: 600px;
    height: 100%;
}

.intro p {
    text-wrap: wrap;
    padding: .5rem;
    font-size: 1.1rem;
}

.box {
    display: flex;
    padding: 1rem;
    gap: 4rem;
}

strong {
    color: rgba(11, 11, 119, 0.918);
    text-transform: capitalize;
}

.mt {
    display: grid;
    padding: 1rem;
    font-size: 3rem;
    text-transform: capitalize;
    color: rgba(11, 11, 119, 0.918);
    position: relative;
}

.mt::after {
    content: "";
    position: relative;
    background-color: rgb(187, 11, 11);
    width: 600px;
    height: 5px;
}

.mv {
    position: relative;
    display: flex;
    width: 100%;
}

.title1 {
    padding: 1rem 0;
    font-size: 2rem;
}

.mission,
.vision {
    padding: 1rem 2rem;
    margin: 1rem;
    border: 1px solid #000;
    border-radius: .5rem;
    background-color: rgb(10, 10, 82);
    color: aliceblue;
    opacity: 90%;
}

.mission li,
.vision li {
    padding: .2rem 0;
}

.img3 {
    max-width: 100%;

}

/* Quote Section Styles */
.quote {
    width: 100%;
}

.img2 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    margin: 1rem 0 0 2rem;
}

/* Container Styles */
.container {
    scroll-snap-type: y mandatory;
}

/*about us */
.about {
    height: 100vh;
}

/* Body Styles */
body {
    background-color: rgb(180, 208, 233);
}

/* Root Styles */
:root {
    --mycolor: red;
}

.footer {
    position: sticky;
    width: 100%;
    background: #10182F;
    border-radius: 6px;
}

#contact {
    display: grid;
    gap: 1rem;
}

.footer a {
    text-decoration: none;
    color: #bfbfbf;
}

.footer a:hover {
    color: white;
}

.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
    padding: 20px;
}

.footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-row .footer-col .info {
    display: flex;
    gap: 2rem;
}

.footer-col .links {
    margin-top: 20px;
}

.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
}

.footer-col .links li a:hover {
    color: #fff;
}

.footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
}

.footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}

.footer-col .icons i {
    color: #afb6c7;
}

.footer-col .icons i:hover {
    color: #fff;
}


section {
    scroll-snap-align: start;
    /* Snap to the start of each section */
}

.about img {
    object-fit: cover;
    width: 100%;
}

/* Additional styles for a smooth scroll animation (optional) */
html {
    scroll-behavior: smooth;
    /* Add smooth scrolling behavior */
}

/* Additional styles for scrollbars (optional) */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#copy {
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: .7rem;

}

/* Media Queries for Responsive Design */
@media (orientation: portrait) and (min-height: 960px) and (max-width: 768px) {
    .intro {
        padding: 5px 10px 0 0;
    }

    .intro p {
        font-size: 1.6rem
    }

    .navigation {
        width: 300px;
        right: -400px
    }
}

@media (width < 985px) and (width > 768px) {
    .img1 {
        margin-left: 0;
    }

    .box {
        gap: 2px;
    }

    .intro p {
        font-size: .93rem;
    }

    .mission li,
    .vision li {
        font-size: .93rem;
    }
}


@media (width < 600px) {
    .introduction {
        background-image: url(../img/mark4.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-color: #b4b2b2;
        background-blend-mode: overlay;

    }

    .main {
        background-image: url(../img/Un9.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .img1 {
        display: none;
    }

    .introduction {
        height: 100vh;
    }

    .mt {
        font-size: 2rem;
    }

    .title1 {
        font-size: 1.5rem;
    }
}

@media(max-width: 480px) {


    .container {
        min-width: 320px;
    }

    .navigation nav {
        width: 100%;
    }

    .navigation {
        width: 200px;
    }

    .navigation ul li a {
        font-size: small;
        font-weight: bold;
    }


    .intro p {
        font-size: .9rem;
        padding: 5px 0 5px 10px;

    }


    .about img {
        height: 100dvh;
    }

    .mv {
        flex-direction: column;
    }

    .mt {
        font-size: 1.5rem;

    }

    .box {
        position: relative;
        flex-direction: column;
    }

    .img2,
    .img3 {
        width: 100%;
    }

    .img1 {
        display: none;
    }

    .img2 {
        height: 400px;
        margin-left: 0;
        box-shadow: none;
    }

    .mt::after {
        width: 100%;
    }

    .mission,
    .vision {
        width: 90%;
        padding: 1rem 0 1rem 1.3rem;
        margin: 1rem;
    }

    .mission li,
    .vision li {
        font-size: 0.8rem;
    }

    .title1 {
        padding: 0;
        font-size: 1.1rem;
    }


}

@media screen and (max-width: 768px) {

    /* Adjust header and navigation for smaller screens */
    .navigation {
        position: fixed;
        right: -500px;
        width: 200px;
        height: 100%;
        background-color: aliceblue;
        transition: .5s;
        opacity: 65%;
        z-index: 10;
    }

    .navigation ul {
        flex-direction: column;
        margin-top: 3.5rem;
        width: 200px;
    }

    .navigation ul li {
        padding: 10px 0 10px 5px;
        width: 100%;
        border-bottom: 1px solid rgb(48, 48, 240);
        font-size: 1rem;
        text-align: center;

        &:hover {
            background-color: rgb(5, 41, 72);

            >a {
                color: #fff;
            }
        }
    }

    .navigation ul li a {
        width: 100%;
        height: inherit;
        padding: inherit;
        display: grid;


    }

    a {
        width: 200px;
    }

    .hamburger,
    .bar {
        position: fixed;
    }

    .hamburger {
        display: block;
        top: 5%;
        left: 90%;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        border: 0;
        background: 0 0;
    }

    .bar {
        top: 3px;
        background: #000;
        width: 100%;
        height: 4px;
        transition: all .3s ease-in;
    }

    #bar2 {
        top: 11px;
    }

    #bar3 {
        top: 19px;
    }

    .navigation.active {
        right: 0;
    }

    .hamburger.open #bar1 {
        background-color: rgb(11, 11, 173);
        transform: rotate(45deg) translate(6px, 5px);
    }

    .hamburger.open #bar2 {
        background-color: transparent;
    }

    .hamburger.open #bar3 {
        background-color: rgb(11, 11, 173);
        transform: rotate(-45deg) translate(6px, -5px);
    }

    .mv {
        flex-direction: column;
    }

    .mt::after {
        width: 100%;
    }

    .intro {
        height: 350px;
        width: 100%;
    }

    .intro p {
        padding-right: 1rem;
    }

    .bgd {
        width: 100dvw;
    }

    .box {
        flex-direction: column;
        padding: 0 .2rem;
    }

    .nav-title {
        display: none;
    }

    .img2 {
        margin: 0;
        max-width: 100%;
    }

    .img1 {

        margin-bottom: 2rem;
    }

    .mission,
    .vision {
        margin-right: 2.5rem;
    }

}



/*footer query*/
@media(max-width:500px) {
    .footer-col .links li {
        font-size: small;
    }

    .footer-col p {
        font-size: small;
    }

    .list-footer li a {
        padding: 15px;
        font-size: small;
    }

    .social-media i {
        padding: 10px;
    }

    .footer-row .footer-col h4 {
        font-size: 1rem;
    }
}

@media(max-width:200px) {

    .list-footer li a {
        padding: 10px;
        font-size: 12px;
    }

    .social-media i {
        font-size: 15px;
    }
}

@media(max-width:200px) {
    .text {
        font-size: 12px;
    }

    .list-footer li a {
        padding: 5px;
    }
}

@media(max-width:330px) {
    .text {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .footer {
        position: relative;
        bottom: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }

    .footer .footer-row {
        padding: 20px;
        gap: 1rem;
    }

}